.calculator {
  background-color: rgba(75, 75, 75, 0.904);
  padding-bottom: 20%;
  margin: 5%;
  border: 3px solid rgba(63, 63, 63, 0.63);
  font-family: monospace;

}
h1 {
  color: goldenrod;
  text-shadow: -1px 1px 1px rgba(255, 238, 0, 0.514);
}
#results {
  margin-top: 20px;
  border: 2px solid goldenrod;
  width: 30px;
  height: 50px;
  background-color: green;
  font-family: monospace;
}